# Build and Release Folders
# 忽略不上传更新的文件
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/
dist/
static/
yarn-error.log
# Other files and folders
.settings/
#log file
*.log
*.lock
logs/
# Executables
.eslintcache
*.swf
*.air
*.ipa
*.apk
*.exe
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
